
header nav{
    background-color: #000000;

}
.navbar{
    color: #ffffff;
    font-weight: bold;
}
.nav-icon{
    color: #ffffff;
}
.bd{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #2d2d2d;
    color: white;
}
.bd h4{
	color: #000000;
}
.bn img{
    height: 300px;
    object-fit: cover;
}
footer{
    padding-top: 30px;
   
    color: white;
    background-color: #000000;
}
footer .ph1{
    padding-top: 30px;
}